.userf {
  background-color: #dedecb;
  width: 48%;
  height: 60px;
  padding: 5px;
  margin: 1px;
  float: left;
}

.userf-picture {
  width: 60px;
  height: 60px;
  float: left;
}

.userf-picture img {
  width: 60px;
  height: 60px;
}

.userf-name {
  margin-left: 10px;
  float: left;
}
